node_modules/

.env
.env.local
server/dati/auth.json
server/dati/chiavi.js
server/dati/twitch-accesso.json
server/dati/twitch-diretta.json
server/dati/meteora.json
server/dati/twitch-spettatori.json

*.log
npm-debug.log*

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo
*~

ehthumbs.db
$RECYCLE.BIN/
.Spotlight-V100
.Trashes

*.tmp
*.bak
*.orig

mp3/
server/dati/sondaggi.json

stato-sito.json

suoni_meteora/
